.form-body{
    border:1px solid black;
    min-height:300px;
    width:300px;
   background-color: #141414;
   color:white;
   border-radius: 5px;
   box-shadow: 1px 1px black;
   
}
.form-top-section{
    width:100%;
    min-height: 130px;
    position: relative;
}
.form-profile-img img{
    border-radius:50%;
    height:100px;
    width:100px;
    position:absolute;
    top:10%;
    left:2%;
}
.form-bottom-section{
    margin-top: 30px;
    padding:20px;
    
}
.form-name{
    font-size:1.4rem;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.form-proffession{
    font-size:1rem;
    padding:5px 0;
    font-weight: 300;
    font-family: sans-serif;
}
.form-text{
    font-size:1rem;
    font-family:sans-serif;
    padding:10px 0;
    
}
.form-button{
    display: flex;
    gap:10px;
}
.form-button button{
    font-size:0.8rem;
    font-family: sans-serif;
    padding:5px;
    width:50%;
    text-transform: uppercase;
}
.button_first{
  border:1px solid #2a8dd3;
  background:transparent;
  color:#2a8dd3;
}
.button_secound{
    border:1px solid white;
    background-color: transparent;
    color:white;

}